@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .grid-areas-home {
    > div:not(:last-child) {
      @apply ~h-[40rem]/[45rem];
    }
  }

  .area-movie-carousel {
    button.group {
      svg {
        @apply fill-slate-100 text-indigo-700 transition-all ~size-10/12 active:scale-90 hover:opacity-90;
      }
    }

    img:last-of-type {
      @apply transition-all duration-1000;
      mask: linear-gradient(135deg, #000c 40%, theme('colors.white'), #000c 60%) 100% 100%/250% 250%;

      &:hover {
        mask-position: 0 0;
      }
    }
  }
}
